.Bus{
    width: 100%;
    height: 400px;
}
.small{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    border: 1px solid white;
}
.bi{
    width: 100%;
    height: 310px;
    border: 1px solid white;
    padding: 50px;
}
.iiim{
    height: 220px;
}
.po{
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0%;
    vertical-align: middle;
    background-image: rgba(228, 228, 228, 1);
    -webkit-background-clip: text; 
    background-clip: text; background-image: linear-gradient(91.17deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
  }